.venv/
__pycache__/
.ipynb_checkpoints/

# Large/raw/intermediate data
data/raw_entire_fia/
data/parquet/
data/interim/
data/processed/

# Large file types
*.parquet
*.zip
*.db
*.sqlite

# Keep small report outputs trackable
!outputs/*.csv
!data/inventory/*.csv